*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8484b4;
}

.App {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.widget {
    margin: 0 auto;
    width: 350px;
    height: 270px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #385f5d;
    border-radius: 20px;
}